.stand {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.test {
    /*border-bottom-color: #00cc22!important;*/
    /*background: red;*/
    font-size: 30px;
}