.friendMessage {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    padding: 10px;
    display: flex;
    max-width: 50%;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    align-self: flex-end;
}

.friendMessage .angle {
    align-self: flex-end;
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, #fff 15px, rgba(0, 102, 204, 0.1) 0);
    flex-shrink: 0;
}


.friendText {
    padding: 10px;
    max-width: 84%;
    min-height: 60px;
    background-color: rgba(0, 102, 204, 0.1);
    border-radius: 10px 10px 10px 0;
    word-break: break-word;
}

.friendText:after {

}

.friendName {
    font-size: 18px;
    font-weight: 600;
}


.friendMessageText {
}

.friendTime {
    margin: 5px 20px;
    font-weight: 600;
    font-size: 10px;
}


@media (max-width: 778px) {
    .friendImageAndText {
        max-width: max-content;
    }
}
