.greetingForm {
    font-family: 'Montserrat', sans-serif;
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    margin-bottom: 10px;
    color: #CC0000;
    font-size: 14px;
    order: 1;

}

.input {
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 8px 12px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 372px;
    height: 36px;

    font-weight: 500;
    font-size: 16px;
}

.input:focus {
    border: 1px solid rgba(0, 0, 0, 0.9);
    outline: none;
}

.errorInput {
    margin: 0 12px 7px 0;

    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 372px;
    height: 36px;
    border: 1px solid #CC0000;
    border-radius: 5px;
}

.button {
    width: 78px;
    height: 36px;
    background-color: #0066CC;
    border-radius: 3px;

    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.button:focus {
    background-color: #03509e;
}

.button:active {
    background-color: #014d99;
}

.button:disabled {
    background-color: rgba(0, 102, 204, 0.5);
}

.text {
    margin: 30px 0 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.greeting {
    font-weight: 500;
    font-size: 14px;
}
