.sendForm {
    display: flex;
    margin: 30px;
}

.textarea {
    min-height: 40px;
    margin-right: 45px;
    flex-grow: 1;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(0, 102, 204, 0.1);
    border: none;
    resize: none;
    overflow: scroll;
    overflow: hidden;
}

.button {
    /*height: 40px;*/
    align-self: start;
    min-width: 120px;
    padding: 15px;
    border-radius: 20px;
    background-color: #0066CC;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #0256a9;
}

.button:active {
    background-color: #037cf5;
}
